<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>

    <h1>Editar Todo</h1>

    <form method="POST" action="/todo/edit?_method=PUT"  enctype="multipart/form-data">
        Titulo : <input name="title" type="text" value={{todo.title}}> <br/>
        Data : <input name="deadline" type="date" value={{todo.deadline}}>
        <input name="id" type="hidden" value={{todo.id}}>

        <button type="submit" >Salvar</button>
    </form>
    
</body>
</html>